:root {
    --bg-secondary: rgba(18, 43, 79, 1);
    --primary: rgba(255, 91, 92, 1);
    --text: rgba(52, 58, 64, 1);
    --secondary: rgba(255, 193, 7, 1);
    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 0, 0, 1);
    --bg-primary: rgba(35, 31, 32, 1);
    --bg-secondary-80: rgba(26, 41, 61, 1);
    --title-1-12-font-family: "Oxanium", Helvetica;
    --title-1-12-font-weight: 400;
    --title-1-12-font-size: 12px;
    --title-1-12-letter-spacing: 0px;
    --title-1-12-line-height: normal;
    --title-1-12-font-style: normal;
    --text-font-family: "Zekton", Helvetica;
    --text-font-weight: 400;
    --text-font-size: 12px;
    --text-letter-spacing: 0px;
    --text-line-height: normal;
    --text-font-style: normal;
    --title-font-family: "Zekton", Helvetica;
    --title-font-weight: 700;
    --title-font-size: 50px;
    --title-letter-spacing: 0px;
    --title-line-height: normal;
    --title-font-style: normal;
  }
  